<div class="hero-novedades">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-f">
        <P class="subtitulos">Novedades</P>
        <div class="btn__add" *ngIf="isAdmin">
          <i class="bi bi-journal-plus btn-add" routerLink="/nueva-novedad"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid novedades-container ">
    <div class="row novedades-row">
      <div class="col-12 col-sm-6 col-lg-5 novedades-card novedades-especific" *ngFor="let novedad of novedades "
        [id]="novedad.idNovedad">
        <div class="card card-novedades">
          <img class="card-img-top" [src]="novedad.fotoLibro" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title titulo-novedad">{{novedad.tituloNovedad}}</h5>
            <p class="card-text descrip-novedad">{{novedad.descripcionNovedad}}</p>
          </div>
          <button class="btn btn-send" routerLink="/novedad/{{novedad.idNovedad}}">Seguir Leyendo</button>
        </div>
      </div>
    </div>
  </div>
</div>