.hero-novedades {
  margin-top: 2%;
}

.subtitulos {
  font-family: "AbibasMedium";
  font-size: 4em;
}

.novedades-container {
  width: 75%;
  margin: 0em;
}

.card-novedades {
  color: #000;
  width: 100%;
  justify-content: space-evenly;
  justify-content: center;
  background-color: rgba(164, 167, 212, 0.718);
  margin: auto;
  max-height: 1400px;
  border-radius: 20px;
  overflow: hidden;
}

.titulo-novedad {
  font-size: 2.5em;
}

.descrip-novedad {
  font-size: 1.5em;
  max-height: 100px;
}

.card-novedades > .card-body {
  overflow: hidden;
}

.card-img-top {
  max-height: 25em;
  background-size: 100vw;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.card-img-top:hover {
  --escala: 1.1;
  cursor: pointer;
}

/* -------------------------BOTONES ADMIN--------------------- */

.btn__add {
  padding: 1em;
  display: flex;
  justify-content: start;

}

.btn-add {
  font-size: 2.5em;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(90deg, pink, rgb(106, 156, 199));
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.btn-add:hover {
  --escala: 1.1;
}



/* --------------INICIO MEDIA QUERIES--------------- */


/* Tamaño por defecto pantallas  */
@media all and (max-width: 1360px) {
  .imagen-publicacion {
    margin-top: 3vh;
  }
}

/* Tamaño tablet horizontal */
@media all and (min-width: 950px) and (max-width: 1110px) {
}

/* Tamaño tablet  */
@media all and (min-width: 768px) and (max-width: 950px) {
}

/* Tamaño teléfonos */
@media all and (min-width: 500px) and (max-width: 768px) {
}

@media all and (min-width: 350px) and (max-width: 500px) {
  .subtitulos {
    font-size: 3em;
  }
}

@media all and (max-width: 350px) {
}
/* --------------FIN MEDIA QUERIES--------------- */
