<header>
    <div class="container-fluid hero-navbar">
        <div class="left-nav">
            <div class="menu">
                <nav>
                    <ul>
                        <div class="nav">
                            <h1 class="titulo-navbar">Lucibookslu </h1>
                        </div>
                        <div class="social-icons">
                            <a href="https://www.instagram.com/lucibookslu/" target="_blank" class="insta"> <i
                                    class="bi bi-instagram redes-icons"></i></a>
                            <a href="mailto:luciamedina722@gmail.com?Subject=Quisiera%20colaborar%20contigo"
                                target="_blank" class="mail"><i class="bi bi-envelope redes-icons"></i></a>
                            <a href="https://twitter.com/lucibookslu" target="_blank" class="twitter"><i
                                    class="bi bi-twitter redes-icons"></i></a>
                        </div>
                        <li><a class="buttons" routerLink="/luciBlog">Inicio</a></li>
                        <li><a class="buttons">Reseñas</a>
                            <ul>
                                <li><a href="#">Genero Literario</a></li>
                                <li><a href="#">Autores</a></li>
                                <li><a href="#">Libro en Fisico</a></li>
                                <li><a href="#">Libros en Digital</a></li>
                            </ul>
                        </li>
                        <li><a class="buttons" routerLink="/colaboraciones">Colaboraciones</a></li>
                        <li><a class="buttons" routerLink="/reflexiones">Reflexiones</a></li>
                        <li><a class="buttons" routerLink=""><i class="bi bi-search"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>