.titulo-libro {
  font-size: 4.5em;
}

.subtitulo-txt {
  font-size: 1.5em;
}

.AbibasMedium{
    font-family: "AbibasMedium";
}

.imagen-libro{
    border-radius: 1em;
}

.info-detail{
    font-size: 2em;
    width: 30vw;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: rgba(164, 167, 212, 0.484);
  }

.long-text {
  font-size: 2em;
  width: 85%;
  white-space: pre-line;
}

.contenido{
    background-color: rgba(164, 167, 212, 0.484);
    padding: 1em 2em;
    border-radius: 1em;

}


.contenido b {
  font-size: 2.5em;
}

.imagen-libro {
  width: 100%;
}

/* --------------INICIO MEDIA QUERIES--------------- */

/* Tamaño por defecto pantallas  */
@media all and (max-width: 1360px) {

}

/* Tamaño tablet horizontal */
@media all and (min-width: 950px) and (max-width: 1110px) {
}

/* Tamaño tablet  */
@media all and (min-width: 768px) and (max-width: 950px) {

}

/* Tamaño teléfonos */
@media all and (min-width: 500px) and (max-width: 768px) {

}

@media all and (min-width: 350px) and (max-width: 500px) {

}

@media all and (max-width: 350px) {

}
/* --------------FIN MEDIA QUERIES--------------- */
