<app-navbar></app-navbar>
<div class="hero-publicacion" style="margin-top: 3em" *ngIf="publicacion" [id]="publicacion.idPublicacion">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="titulo-txt">{{publicacion.titulo}}</h1>
                    <h2 class="subtitulo-txt">Por: <b>LuciBooksLu</b></h2>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="{{publicacion.fotoLibro}}" alt="" style="width: 32em;">
            </div>
            <div class="col-6 publicacion-info">
                <div class="info-detail">
                    <p>Autor: {{publicacion.autor}}</p>
                    <p>Año Publicacion: {{publicacion.anoPublicacion}}</p>
                    <p>Editorial: {{publicacion.editorial}}</p>
                    <p>Genero: {{publicacion.genero}}</p>
                    <p>Num. Paginas: {{publicacion.numPaginas}}</p>
                </div>
                <br>
                <br>
                <br>
                <div class="btn-admin" *ngIf="isAdmin">
                    <i class="bi bi-pen btn-edit" routerLink="/editar-publicacion/{{publicacion.idPublicacion}}"></i>
                    <i class="bi bi-trash btn-delete" (click)="borrar(publicacion.idPublicacion)"></i>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-5">
        <div class="contenido">
            <h2>Sinopsis</h2>
            <p class="long-text">{{this.publicacion.sinopsis}} </p>
            <hr>
            <h2 class="mt-5">Reseña</h2>
            <p class="long-text">{{this.publicacion.resenia}}</p>
        </div>
    </div>
</div>