<app-navbar></app-navbar>
<div class="hero-publicacion" style="margin-top: 3em">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col"><h1 class="titulo-txt">Titulo</h1>
                    <h2 class="subtitulo-txt">Por: <b style="font-size: 1em;">LuciBooksLu</b></h2></div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="../../../assets/img/281847268_435495748386587_4187174966247722617_n.jfif" alt="" style="width: 32em;">
            </div>
            <div class="col-6">
                <p  style="font-size: 2em;">Autor: Colaloca</p>
                <p style="font-size: 2em;">Año Publicacion: 2786</p>
                <p style="font-size: 2em;">Editorial: Culo Sucio</p>
                <p style="font-size: 2em;">Genero: ?</p>
                <p style="font-size: 2em;">Num. Paginas: 9999</p>
            </div>
        </div>
        
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="contenido">
            <h2 style="font-size: 4em;">Sinopsis</h2>
            <p style="font-size: 2em; width: 85%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui at nulla facilis tempore eos laborum
                sunt minus delectus dolores? Enim quidem eligendi expedita adipisci quibusdam rerum voluptates cum iure!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui at nulla facilis tempore eos laborum
                sunt minus delectus dolores? Enim quidem eligendi expedita adipisci quibusdam rerum voluptates cum iure!
            </p>
            <h2 style="font-size: 4em; margin-top: 25px;">Reseña</h2>
            <p style="font-size: 2em; width: 85%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui at nulla facilis tempore eos laborum
                sunt minus delectus dolores? Enim quidem eligendi expedita adipisci quibusdam rerum voluptates cum iure!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit qui at nulla facilis tempore eos laborum
                sunt minus delectus dolores? Enim quidem eligendi expedita adipisci quibusdam rerum voluptates cum iure!</p>
        </div>
    </div>
</div>