<app-navbar></app-navbar>
<div class="hero-publicacion" *ngIf="publicacion" [id]="publicacion.idPublicacion">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="titulo-libro AbibasMedium">{{publicacion.titulo}}</p>
                    <p class="subtitulo-txt AbibasMedium">Por: <b>LuciBooksLu</b></p>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-5">
                <img class="imagen-libro" src="{{publicacion.fotoLibro}}" alt="Foto del libro">
            </div>
            <div class="col-6 publicacion-info">
                <div class="info-detail">
                    <p>Autor: {{publicacion.autor}}</p>
                    <p>Año Publicacion: {{publicacion.anoPublicacion}}</p>
                    <p>Editorial: {{publicacion.editorial}}</p>
                    <p>Genero: {{publicacion.genero}}</p>
                    <p>Num. Paginas: {{publicacion.numPaginas}}</p>
                    <div class="btn-admin d-f" *ngIf="isAdmin">
                        <i class="bi bi-pen btn-edit"
                            routerLink="/editar-publicacion/{{publicacion.idPublicacion}}"></i>
                        <i class="bi bi-trash btn-delete" (click)="borrar(publicacion.idPublicacion)"></i>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-5">
        <div class="contenido">
            <b class="AbibasMedium">Sinopsis</b>
            <br>
            <br>
            <p class="long-text">{{this.publicacion.sinopsis}} </p>
            <hr>
            <b class="mt-5 AbibasMedium">Reseña</b>
            <br>
            <br>
            <p class="long-text">{{this.publicacion.resenia}}</p>
        </div>
    </div>
</div>