<app-navbar></app-navbar>
<div class="hero-publicaciones">
    <div class="container-fluid">
        <p class="subtitulos AbibasMedium">RESEÑAS</p>
        <div class="container btn__add" *ngIf="isAdmin">
            <i class="bi bi-journal-plus btn-add" routerLink="/nueva-publicacion"></i>
        </div>
        <div class="row publicaciones-row-main">
            <div class="col-12 col-md-6" *ngFor="let publicaciones of publicacion | orderBy: '-idPublicacion'" [id]="publicaciones.idPublicacion">
                <div class="row card-container">
                    <div class="col-6">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion" src="{{publicaciones.fotoLibro}}" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-6 d-f">
                        <div class="seccion-cuerpo">
                            <p class="titulo-libro AbibasMedium">{{publicaciones.titulo}}</p>
                            <p class="autor-libro AbibasMedium">{{publicaciones.autor}}</p>
                            <p class="card-descrip">{{publicaciones.sinopsis}}</p>
                        </div>
                    </div>
                        <button class="btn-ir" routerLink="/publicacion/{{publicaciones.idPublicacion}}">Seguir
                            leyendo</button>
                </div>
            </div>
        </div>
    </div>