.subtitulos,
.search-title {
  text-align: center;
  font-family: "AbibasMedium";
  font-size: 4em;
}

.input-search {
  width: 60%;
  height: 2em;
  border-radius: 0.5em;
  font-size: 1.7em;
}

hr {
  border: solid 0.18em #000;
}

.publicaciones-row-main {
  justify-content: center;
  overflow-x: hidden;
}

.titulo-libro {
  font-family: "AbibasMedium";
  font-size: 2.3em;
  margin-bottom: 0.2em;
}

.autor-libro {
  font-family: "AbibasMedium";
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.sinopsis-libro {
  font-family: "AbibasMedium";
  word-break: break-all;
}

.publicacion-info {
  font-size: 2em;
}

.card-container {
  margin: 2em 1em;
  padding: 0.8em;
  border: solid #000;
  border-radius: 10px;
  background-color: rgba(164, 167, 212, 0.718);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.card-container:hover {
  --escala: 1.1;
}

.seccion-cuerpo {
  overflow: hidden;
}

.card-descrip {
  font-size: 1.4em;
  max-height: 150px;
}

.imagen-publicacion {
  border-radius: 10px;
  width: 100%;
}

.btn-ir {
  background-color: rgba(255, 255, 255, 0.647);
  font-size: 1.3em;
  width: 40%;
  margin: 0.5em 0em 0.5em 14em;
  justify-content: center;
}

.btn-ir:hover,
.btn-edit:hover,
.btn-delete:hover {
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(164, 167, 212, 0.718);
}


/* --------------INICIO MEDIA QUERIES--------------- */


/* Tamaño por defecto pantallas  */
@media all and (max-width: 1360px) {

  .titulo-libro{
    font-size: 1.7em;
  }

  .autor-libro{
    font-size: 1.2em;
  }

  .card-descrip{
    font-size: 1em;
    max-height: 100px;
  }

  .btn-ir {
    font-size: .9em;
    margin: 0.5em 0em 0.5em 14em;
  }

}

@media all and (min-width:350px) and (max-width: 1110px) {
  .hero-search {
    margin-top: 4vh;
  }
  
}

/* Tamaño tablet horizontal */
@media all and (min-width: 990px) and (max-width: 1110px) {

  .titulo-libro{
    font-size: 1.7em;
  }

  .autor-libro{
    font-size: 1.2em;
  }

  .card-descrip{
    font-size: 1em;
    max-height: 100px;
  }

  .btn-ir {
    font-size: .9em;
    margin: 0.5em 0em 0.5em 14em;
  }
}

/* Tamaño tablet  */
@media all and (min-width: 768px) and (max-width: 990px) {
  .hero-search {
    margin-top: 5vh;
  }

  .btn-ir {
    margin: 0.5em 0em 0.5em 16em;
  }
}

/* Tamaño teléfonos */
@media all and (min-width: 575px) and (max-width: 768px) {

  .hero-search {
    margin-top: 3vh;
  }

  .search-title{
    font-size: 3em;
  }

  .subtitulos {
    font-size: 2.5em;
  }

  .titulo-libro {
    font-size: 2.2em;
  }

  .autor-libro {
    font-size: 1.5em;
  }

  .card-descrip {
    font-size: 1em;
    max-height: 100px;
  }

  .btn-ir {
    font-size: 1em;
    margin: 0.5em 0em 0.5em 14em;
  }
}

@media all and (min-width: 320px) and (max-width: 575px) {

  .hero-search {
    margin-top: 5vh;
  }

  .search-title{
    font-size: 2.3em;
  }

  .input-search {
    width: 80%;
    height: 1.5em;
    font-size: 1.5em;
  }

  .subtitulos {
    font-size: 2em;
  }

  .titulo-libro {
    font-size: 1.6em;
  }

  .autor-libro {
    font-size: 1.2em;
  }

  .card-descrip {
    font-size: 1em;
    max-height: 100px;
  }

  .btn-ir {
    font-size: 0.9em;
    width: 90%;
    margin: 0.5em 0em 0.5em 4vw;
  }
}

@media all and (max-width: 320px) {

  .hero-search {
    margin-top: 5vh;
  }

  .search-title{
    font-size: 2em;
  }

  .input-search {
    width: 80%;
    height: 1.5em;
    font-size: 1.5em;
  }

  .subtitulos {
    font-size: 2em;
  }

  .titulo-libro {
    font-size: 1.3em;
  }

  .autor-libro {
    font-size: .8em;
  }

  .card-descrip {
    font-size: .8em;
    max-height: 70px;
  }

  .btn-ir {
    width: 100%;
    margin: 0.4em 0em;
    }
}
/* --------------FIN MEDIA QUERIES--------------- */