<app-navbar></app-navbar>
<div class="container hero-search">
    <p class="search-title">Que estas buscando?</p>
    <div class="input-container d-f jc-c">
        <input type="text" class="input-search " name="filterPost" placeholder=" Buscar..." [(ngModel)]="filterPost">
    </div>
    <hr>
        <div class="hero-publicaciones">
            <div class="container-fluid">
                <p class="subtitulos">RESEÑAS</p>
                <div class="row publicaciones-row-main">
                    <div class="col-12 col-lg-6" *ngFor="let publicaciones of publicacion 
                    | orderBy: '-idPublicacion' 
                    | filter:filterPost"
                    [id]="publicaciones.idPublicacion">
                        <div class="row card-container">
                            <div class="col-12 col-sm-6">
                                <div class="seccion-imagen">
                                    <img class="imagen-publicacion" src="{{publicaciones.fotoLibro}}" alt="" srcset="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 d-f">
                                <div class="seccion-cuerpo">
                                    <p class="titulo-libro">{{publicaciones.titulo}}</p>
                                    <p class="autor-libro">{{publicaciones.autor}}</p>
                                    <p class="card-descrip">{{publicaciones.sinopsis}}</p>
                                </div>
                            </div>
                            <button class="btn-ir" routerLink="/publicacion/{{publicaciones.idPublicacion}}">Seguir
                                leyendo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <p class="subtitulos">COLABORACIONES</p>
            <div class="hero-publicaciones">
                <div class="container">
                    <div class="row publicaciones-row-main">
                        <div class="col-12 col-lg-6" *ngFor="let colaboracion of colaboraciones 
                        | filter:filterPost"
                        [id]="colaboracion.idColaboraciones">
                            <div class="row card-container">
                                <div class="col-12 col-sm-6">
                                    <div class="seccion-imagen">
                                        <img class="imagen-publicacion" [src]="colaboracion.fotoLibro" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 d-f">
                                    <div class="seccion-cuerpo">
                                        <p class="titulo-libro">{{colaboracion.titulo}}</p>
                                        <p class="autor-libro">{{colaboracion.autor}}</p>
                                        <p class="card-descrip">{{colaboracion.sinopsis}}</p>
                                    </div>
                                </div>
                                <button class="btn-ir"
                                    routerLink="/colaboracion/{{colaboracion.idColaboraciones}}">Seguir
                                    leyendo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="hero-publicaciones">
                <div class="container-fluid">
                    <p class="subtitulos subtitulo-centrado">REFLEXIONES</p>
                    <div class="row publicaciones-row-main">
                        <div class="col-12 col-lg-6" *ngFor="let reflexion of reflexiones 
                        | orderBy: '-idReflexion' 
                        | filter:filterPost"
                            [id]="reflexion.idReflexion">
                            <div class="row card-container">
                                <div class="col-12 col-sm-6">
                                    <div class="seccion-imagen">
                                        <img class="imagen-publicacion" [src]="reflexion.fotoReflexion" alt=""
                                            srcset="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 d-f">
                                    <div class="seccion-cuerpo">
                                        <h2>{{reflexion.titulo}}</h2>
                                        <h3>{{reflexion.subtitulos}}</h3>
                                        <p class="card-descrip">{{reflexion.cuerpoReflexion}}</p>
                                    </div>
                                </div>
                                <button class="btn-ir" routerLink="/reflexion/{{reflexion.idReflexion}}">Seguir
                                    leyendo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>