<section class="container-fluid form-section" *ngIf="novedades">
        <div class="row">
            <div class="col-12 col-lg-6 d-f al-c jc-c">
                <div class="image-container">
                    <div class="foto-container" *ngIf="previsualizacion">
                        <img class="img-libro" [src]="previsualizacion" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-f al-c jc-c">
                <div class="form">
                    <div class="form__body">
                        <form (ngSubmit)="editar()" novalidate #f="ngForm">
                            <div class="d-f">
                                <div class="col form-header jc-c al-c">
                                    <p class="titulo">EDITAR NOVEDAD</p>
                                </div>
                                <div>
                                    <i class="bi bi-x btn-desing" routerLink="/luciBlog"></i>
                                </div>
                            </div>
                            <div class="row form__inputs__joined">
                                <div class="col-6">
                                    <label for="tituloNovedad">NOMBRE DE LA NOVEDAD</label>
                                    <br>
                                    <input 
                                    class="form__input__name" 
                                    type="text" name="tituloNovedad"
                                    placeholder="Ej: Libro del Dia" 
                                    [(ngModel)]="novedades.tituloNovedad" required>
                                    <br>
                                </div>
                                <div class="col-6">
                                <label class="d-f" for="image-libro">URL FOTO
                                </label>
                                <input 
                                (paste)="cargarImagenDesdeURL($event)" 
                                class="form__input__url"
                                name="image-libro"
                                type="text" 
                                alife-file-to-base64 
                                id="image-libro"
                                accept="image/png, image/jpeg"
                                placeholder="https://www.google/com/image.png">
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="descripcionNovedad">DESCRIPCION DE LA NOVEDAD</label>
                                    <br>
                                    <textarea 
                                    class="form__input__textarea" 
                                    name="descripcionNovedad"
                                    placeholder="Ingrese la Descripcion" 
                                    [(ngModel)]="novedades.descripcionNovedad" required></textarea>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="d-f jc-c">
                                <button class="btn btn-send" type="submit">Editar Novedad</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>