<div class="hero-sobre-mi mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7 col-md-3">
                <p class="subtitulos">¿Quien soy?</p>
            </div>
            <div class="col-1">
                <div class="btn__add" *ngIf="isAdmin">
                    <i class="bi bi-pen btn-edit btn-add" routerLink="/editar-persona/1"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <div class="sobremi-txt" *ngIf="persona">
                <p >{{persona.acercaMi}}</p>
            </div>
        </div>
    </div>
</div>