<div class="hero-sobre-mi" style="margin-top: 3em;">
    <div class="container-fluid">
        <h1 class="subtitulos mb-5">¿Quien soy?</h1>
    </div>
    <div class="sobremi-txt" *ngFor="let personas of persona">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil facilis ipsam dolores vero, ratione natus
            perferendis, totam provident debitis velit ducimus eaque? Quaerat excepturi officia nisi unde accusantium
            quia aut? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus neque error laudantium
            voluptatem numquam commodi amet quasi mollitia inventore animi nisi voluptas facilis iure, non iste quidem
            sed. Quaerat, iste.</h2>
    </div>
</div>