<div class="hero-destacado">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <h1 class="subtitulos mb-5">Destacados</h1>
    </div>
      <div class="col-6" >
        <div class="card card-destacado" *ngIf="publicacion">
          <img class="card-img-top-lg card-destacado-lg"
            [src]="publicacion.fotoLibro"
            alt="Imagen de la Ultima Reseña"
            routerLink="/publicacion/{{publicacion.idPublicacion}}" >
          <div class="card-body">
            <h5 class="card-title-destacado">Ultima Reseña</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-destacado">
          <img class="card-img-top card-destacado" 
          src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg" 
          alt="Imagen del Ultimo Libro Destacado">
          <div class="card-body">
            <h5 class="card-title-destacado">Libro Destacado</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card-destacado">
          <img class="card-img-top card-destacado" 
          src="..." 
          alt="Imagen de Autor Destacado">
          <div class="card-body">
            <h5 class="card-title-destacado">Autor Destacado</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>