@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Simonetta;
  scroll-behavior: smooth;
  text-decoration: none !important;
}

.d-f{
  display: flex;
}

.jc-c{
  justify-content: center;
}

.al-c{
  align-items: center;
}

body {
  background-image: url(../src/assets/img/WallpaperLuci.jpg);
  background-attachment: fixed;
  background-size: 100vw 100vh;
  font-size: 16px;
}

.swal2-popup {
  background-color: rgb(202, 204, 234) !important;
}

.swal2-icon.swal2-warning {
  border-color: #fd9d4b !important;
  color: #fd9d4b !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: rgb(0 199 0) !important;
}
.swal2-success-ring {
  border: 0.25em solid rgb(0 199 0) !important;
}

/*---------------------- INICIO ESTILOS NAVBAR ----------------------*/

.hero-navbar,
.card-destacado,
.footer {
  color: #000;
  width: 100%;
  justify-content: space-evenly;
  justify-content: center;
  background-color: rgba(164, 167, 212, 0.718);
  margin: auto;
}

header {
  width: 100%;
  top: 0;
  left: 0;
}

.btn-login,
.btn-logout {
  padding: 0.1em 1.7em !important;
  cursor: pointer !important;
}

.login--txt {
  margin-top: 0.4em;
  font-size: 0.7em;
}

.menu {
  max-width: 1200px;
  height: 100%;
  padding: 0px 1.25em;
}

nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li > a {
  text-align: justify;
  font-size: 1.6em;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000;
  transition: all 300ms ease;
}

nav > ul > li {
  padding: 0px 0px 0px 3.5em;
}

nav > ul > li > a:hover {
  transform: scale(1.3);
}

nav ul li ul {
  width: 12.5em;
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 204, 234);
  position: absolute;
  top: 6.25em;
  padding: 0.875em 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100px;
}

nav ul li ul::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(202, 204, 234);
  position: absolute;
  top: -0.75em;
  left: 1.25em;
}

nav ul li ul li a {
  font-size: 1.1em;
  display: block;
  color: #000;
  padding: 0.625em;
  padding-left: 0.875em;
  margin-top: 0.625em;
  transition: all 200ms ease;
}

nav ul li ul li a:hover {
  background-color: rgb(202, 204, 234);
  transform: scale(1.2);
  padding-left: 1.875em;
  font-size: 1.1em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.left-nav {
  align-items: center;
  display: flex;
}

.redes-icons {
  color: #000;
  font-size: 1.8em;
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bi-box-arrow-in-left {
  color: #a33434;
}

.titulos > u{
  font-family: "AbibasMedium";
}

/*------------------------- FIN ESTILOS NAVBAR --------------------------*/

/*---------------------- INICIO ESTILOS BUSQUEDA ----------------------*/

.search-title{
  font-family: "AbibasMedium";
  font-size: 4em;
  margin: 1em;
  text-align: center;
}

.input-search{
  width: 60%;
  height: 2em;
  border-radius: .5em;
  font-size: 1.7em;
}

/*------------------------- FIN ESTILOS BUSQUEDA --------------------------*/

/*---------------------- INICIO ESTILOS LOGIN ----------------------*/
.login-section {
  margin: 10% 0em 0em 30%;
}

.login_txt {
  text-align: center;
}

.login_subtext {
  font-size: 1.5em;
}
/*--------------------------- FIN ESTILOS LOGIN--------------------------*/

/*---------------------- INICIO ESTILOS GLOBALES ----------------------*/

.buttons {
  margin-top: 0.9375em;
  text-decoration: none;
  background-color: rgb(202, 204, 234);
  border-radius: 10px;
  padding: 0.6em 1.875em;
}

.titulos {
  font-size: 6em;
  font-family: "AbibasMedium";
  justify-content: left;
  margin: 0px 25px 0px -15px;
}

.subtitulos {
  font-family: "AbibasMedium";
  font-size: 4em;
}

.subtitulo-centrado {
  margin: 20px;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: solid 0.18em #000;
}

/*------------------------- FIN ESTILOS GLOBALES -------------------------*/

/*---------------------- INICIO SECCION DESTACADOS ----------------------*/
.hero-destacado,
.hero-novedades,
.hero-sobre-mi,
.footer {
  margin-top: 2%;
}

.novedades-container {
  width: 75%;
  margin: 0em;
}

.card-destacado {
  border-radius: 20px;
  overflow: hidden;
}

.novedades-especific {
  margin: 0em -2em 2em 2em;
}

.card-destacado-lg {
  object-fit: cover;
}

.card-img-top-lg {
  max-height: 25em;
  background-size: 100vw;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.card-img-top-lg:hover {
  --escala: 1.1;
  cursor: pointer;
}

.card-img-top {
  max-height: 25em;
  background-size: 100vw;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.card-img-top:hover {
  --escala: 1.1;
  cursor: pointer;
}

.card-title-destacado {
  font-size: 2em;
}

/*------------------------- FIN SECCION DESTACADOS -------------------------*/

/*---------------------- INICIO SOBRE MI ----------------------*/

.sobremi-txt {
  background-color: rgba(164, 167, 212, 0.718);
  font-size: 1em;
  width: 70%;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  white-space: pre-line;


}

/*------------------------- FIN SOBRE MI -------------------------*/

/*---------------------- INICIO SECCION NOVEDADES ----------------------*/

.card-novedades {
  max-height: 1400px;
}

.titulo-novedad {
  font-size: 2.5em;
}

.descrip-novedad {
  font-size: 1.5em;
  height: 100px;
}

.card-destacado > .card-body {
  overflow: hidden;
}

/*------------------------- FIN SECCION NOVEDADES -------------------------*/

/*---------------------- INICIO SECCION RESEÑAS ----------------------*/

.hero-publicaciones {
  display: flex;
}

.publicaciones-row-main {
  justify-content: center;
}

.imagen-publicacion {
  margin-top: 1em;
  width: 100%;
}

.seccion-cuerpo > h2 {
  font-family: "AbibasMedium";
  word-break: break-all;
}

.publicacion-info {
  font-size: 2em;
}

.card-container {
  margin: 20px 10px;
  border: solid #000;
  border-radius: 10px;
  background-color: rgba(164, 167, 212, 0.718);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.card-container:hover {
  --escala: 1.1;
}

.seccion-cuerpo {
  overflow: hidden;
}

.card-descrip {
  font-size: 1.4em;
  height: 150px;
}

.btn-ir {
  background-color: rgba(255, 255, 255, 0.647);
  font-size: 1.3em;
  width: 90%;
  margin-bottom: 0.625em;
}

.btn-ir:hover,
.btn-edit:hover,
.btn-delete:hover {
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(164, 167, 212, 0.718);
}

/*------------------------- FIN SECCION RESEÑAS -------------------------*/

/*------------------- INICIO SECCION RESEÑA -------------------*/

.titulo-txt {
  font-size: 4em;
  font-family: "AbibasMedium";

}

.long-text {
  font-size: 2em;
  width: 85%;
  white-space: pre-line;
}

.contenido h2 {
  font-size: 4em;
}

/*------------------------- FIN SECCION RESEÑA -------------------------*/

/*------------------- INICIO SECCION COLABORACIONES -------------------*/



.aviso-colaboracion {
  display: flex;
  padding-top: 2%;
}

.aviso-txt {
  margin-left: 10em;
  width: 70%;
  font-size: 2em;
  text-align: center;
  border: solid rgb(83, 32, 138);
  background-color: rgba(164, 167, 212, 0.718);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.info-detail{
  width: 27vw;
  padding: 1em 2em;
  border-radius: 1em;
  background-color: rgba(164, 167, 212, 0.484);
}


/*------------------------- FIN SECCION COLABORACIONES -------------------------*/

/*------------------- INICIO SECCION MODALES --------------------------*/

.icon__sup,
.icons,
.btn-start,
.submit__btn,
.register__txt,
.form__input__add,
.icon__upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  max-width: 35em;
  color: #fff;
}

.img-libro {
  max-width: 35em;
  margin: 12.5em 0 0 9.375em;
}

.icon-container {
  margin-left: 2em;
}

.icon-container-novedades {
  display: grid;
  margin-left: 0;
  place-content: center;
}

.col-11 > h2 {
  text-align: center;
  margin-left: 2em;
}

.btn-desing {
  font-size: 2.2em;
  border-radius: 100%;
  color: #fff;
  background: linear-gradient(90deg, pink, rgb(106, 156, 199));
  cursor: pointer;
}

.btn-edit,
.btn-delete {
  font-size: 1.5em;
  border-radius: 15px;
  margin: 0em 1em 0em 1em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btn__add {
  display: flex;
  justify-content: center;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}

.btn__add:hover {
  --escala: 1.1;
}

.btn-add {
  font-size: 3.5em;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(90deg, pink, rgb(106, 156, 199));
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.btn-add:hover {
  --scale: 1.1;
}

.btn-back:hover,
.bi-x-circle-fill:hover,
.form__input__add:hover,
.btn-send:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.btn-send {
  font-size: 1em;
  width: 100%;
  background: linear-gradient(90deg, pink, rgb(106, 156, 199));
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 0.625em 0.625em;
  cursor: pointer;
}

.form {
  margin-top: 10%;
  width: 100%;
  background-color: rgba(164, 167, 212, 0.718);
  border-radius: 50px;
  padding: 1em 2em;
  font-size: 1.25em;
  color: #fff;
}

.form-about{
  margin: 5em 25em;
  width: 50%;
  background-color: rgba(164, 167, 212, 0.718);
  border-radius: 50px;
  padding: 1em 2em;
  font-size: 1.25em;
  color: #fff;
}

.logotipo__title {
  margin-bottom: -1.375em;
  margin-left: 30px;
}

.bi-plus-lg {
  font-size: 2em;
}

.form__input__add {
  margin: 25px 0px 0px 40px;
  width: 4em;
  height: 4em;
  background: linear-gradient(90deg, pink, rgb(106, 156, 199));
  border-radius: 30px;
  cursor: pointer;
}

.form__input__add-novedades {
  margin: 25px 0px 0px 60px;
}

.img-btn {
  display: none;
}

.img-btn + label {
  display: flex;
}

.form__input {
  width: 90%;
  height: 2.5em;
  text-align: center;
  border-radius: 6px;
}

.form__inputs__joined {
  display: flex;
}

.large_text {
  margin-top: -1.5em;
}

.form__input__name,
.form__input__type {
  width: 100%;
  height: 2.5em;
  text-align: center;
  border-radius: 6px;
}

.form__input__textarea {
  font-size: 1.3em;
  width: 100%;
  height: 250px;
  text-align: center;
  border-radius: 6px;
}

.icons__btn,
.icons__btn__upload {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  width: 9.625em;
  height: 4.0625em;
  border-radius: 10px;
}

.icons__btn__upload {
  width: 15.625em;
}

.bi-upload {
  margin: auto;
}

/*------------------------- FIN SECCION MODALES -------------------------*/

/*---------------------- INICIO MEDIA QUERIES ----------------------*/

/*Escritorio*/

@media screen and (max-width: 1367px) {
  body {
    font-size: 12px;
  }

  nav > ul > li{
    padding: 0px 0px 0px 2em;
  }

  nav ul li:hover ul {
    top: 90px;
  }

  .buttons {
    padding: 0.6em 2.3em;
  }

  .footer h2 {
    font-size: 22px;
  }

  .menu {
    padding: 0px;
  }

  .sobremi-txt > h2{
    font-size: 2.2em;
  }

  .long-text {
    width: 80%;
  }

  .login--txt {
    font-size: 0.7em;
    margin-top: 0.8em;
  }

  .card-img-top-lg {
    max-height: 25em;
  }

  .card-img-top {
    max-height: 25em;
  }

  .subtitulo-txt{
    font-size: 1.7em;
  }

}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media screen and (max-width: 1270px) {
  body {
    font-size: 10px;
  }

  .buttons {
    padding: 0.6em 2.3em;
  }

  .footer h2 {
    font-size: 20px;
  }

  .menu {
    padding: 0px 0px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  body {
    font-size: 7px;
  }

  .titulo-navbar {
    font-size: 45px;
  }

  .buttons {
    padding: 0.6em 2.3em;
  }

  .footer h2 {
    font-size: 20px;
  }

  .menu {
    padding: 0px 0px;
  }
}

/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .titulo-navbar {
    color: #fff;
    font-size: 45px;
    position: fixed;
    padding-left: 130px;
    width: 100%;
  }

  .buttons {
    padding: 0.6em 2.3em;
  }

  nav > ul > li > a {
    text-align: center;
  }

  nav ul li {
    background-color: rgba(0, 0, 0, 0.2);
  }

  nav > ul > li {
    top: 90px;
    padding: 0;
    right: 15px;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    height: 300px;
    width: 100%;
    z-index: 100;
    opacity: 1;
  }

  nav > ul > li > a:hover {
    transform: scale(1);
  }

  .social-icons {
    padding-left: 150px;
    width: 100%;
    display: block;
    position: fixed;
    padding-top: 50px;
  }

  .redes-icons {
    padding: 20px;
  }

  .sobremi-txt {
    margin: 0;
    width: 100%;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
}
/*fin movil*/
