<app-navbar></app-navbar>
<div class="hero-reflexion">
    <div class="container-fluid">
        <h1 class="subtitulos">REFLEXIONES</h1>
        <div class="btn__add" *ngIf="isAdmin">
            <i class="bi bi-journal-plus btn-add" routerLink="/nueva-reflexion"></i>
        </div>
        <div class="row reflexion-row-main">
            <div class="col-12 col-md-6" *ngFor="let reflexion of reflexiones | orderBy: '-idReflexion'"
                [id]="reflexion.idReflexion">
                <div class="row card-container">
                    <div class="col-6">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion" [src]="reflexion.fotoReflexion" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="seccion-cuerpo">
                            <p class="titulo-libro">{{reflexion.titulo}}</p>
                            <p class="subtitulo-libro">{{reflexion.subtitulos}}</p>
                            <p class="card-descrip">{{reflexion.cuerpoReflexion}}</p>
                        </div>
                    </div>
                    <button class="btn-ir" routerLink="/reflexion/{{reflexion.idReflexion}}">Seguir leyendo</button>
                </div>
            </div>
        </div>
    </div>
</div>