<app-navbar></app-navbar>
<h1 class="subtitulos subtitulo-centrado">COLABORACIONES</h1>
<div class="aviso-colaboracion">
    <p class="aviso-txt">Si quieren colaborar conmigo, pueden contactarme en: luciamedina722@gmail.com</p>
</div>
<div class="btn__add" *ngIf="isAdmin">
    <i class="bi bi-journal-plus btn-add" routerLink="/nueva-colaboracion"></i>
</div>
<div class="hero-publicaciones">
    <div class="container-fluid">
        <div class="row publicaciones-row-main">
            <div class="col-5" *ngFor="let colaboracion of colaboraciones" [id]="colaboracion.idColaboraciones">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion" [src]="colaboracion.fotoLibro" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>{{colaboracion.titulo}}</h2>
                            <h3>Autor/a: {{colaboracion.autor}}</h3>
                            <p class="card-descrip">{{colaboracion.sinopsis}}</p>
                        </div>
                        <button class="btn-ir" routerLink="/colaboracion/{{colaboracion.idColaboraciones}}">Seguir
                            leyendo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>