<app-navbar></app-navbar>
<div class="aviso-colaboracion">
    <p class="aviso-txt">Si quieren colaborar conmigo, pueden contactarme en: luciamedina722@gmai.com</p>
</div>
<div class="hero-publicaciones">
    <div class="container-fluid">
        <div class="row publicaciones-row-main">
            <div class="col-5">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion"
                                src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg"
                                alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>COLABORACION</h2>
                            <h3>Autor/a: Rick Riordan</h3>
                            <p class="card-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ex
                                quos neque modi cupiditate ipsam consequuntur aliquid nesciunt suscipit sequi non,
                                fugiat aperiam laboriosam iste dicta ullam aliquam?</p>
                        </div>
                        <button class="btn-ir">Seguir leyendo</button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion"
                                src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg"
                                alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>COLABORACION</h2>
                            <h3>Autor/a: Rick Riordan</h3>
                            <p class="card-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ex
                                quos neque modi cupiditate ipsam consequuntur aliquid nesciunt suscipit sequi non,
                                fugiat aperiam laboriosam iste dicta ullam aliquam?</p>
                        </div>
                        <button class="btn-ir">Seguir leyendo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row publicaciones-row-main">
            <div class="col-5">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion"
                                src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg"
                                alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>COLABORACION</h2>
                            <h3>Autor/a: Rick Riordan</h3>
                            <p class="card-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ex
                                quos neque modi cupiditate ipsam consequuntur aliquid nesciunt suscipit sequi non,
                                fugiat aperiam laboriosam iste dicta ullam aliquam?</p>
                        </div>
                        <button class="btn-ir">Seguir leyendo</button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion"
                                src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg"
                                alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>COLABORACION</h2>
                            <h3>Autor/a: Rick Riordan</h3>
                            <p class="card-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ex
                                quos neque modi cupiditate ipsam consequuntur aliquid nesciunt suscipit sequi non,
                                fugiat aperiam laboriosam iste dicta ullam aliquam?</p>
                        </div>
                        <button class="btn-ir">Seguir leyendo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row publicaciones-row-main">
            <div class="col-5">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion"
                                src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg"
                                alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>COLABORACION</h2>
                            <h3>Autor/a: Rick Riordan</h3>
                            <p class="card-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ex
                                quos neque modi cupiditate ipsam consequuntur aliquid nesciunt suscipit sequi non,
                                fugiat aperiam laboriosam iste dicta ullam aliquam?</p>
                        </div>
                        <button class="btn-ir">Seguir leyendo</button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row card-container">
                    <div class="col-4">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion"
                                src="../../../assets/img/lucibookslu_313348579_172849815413332_8806256741260612902_n.jpg"
                                alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="seccion-cuerpo">
                            <h2>COLABORACION</h2>
                            <h3>Autor/a: Rick Riordan</h3>
                            <p class="card-descrip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ex
                                quos neque modi cupiditate ipsam consequuntur aliquid nesciunt suscipit sequi non,
                                fugiat aperiam laboriosam iste dicta ullam aliquam?</p>
                        </div>
                        <button class="btn-ir">Seguir leyendo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>