<app-navbar></app-navbar>
<h1 class="subtitulos">COLABORACIONES</h1>
<div class="aviso-colaboracion d-f jc-c">
    <p class="aviso-txt">Para colaborar conmigo pueden contactarme en: luciamedina722@gmail.com</p>
</div>
<div class="add-container">
    <div class="btn__add" *ngIf="isAdmin">
        <i class="bi bi-journal-plus btn-add" routerLink="/nueva-colaboracion"></i>
    </div>
</div>
<div class="hero-colaboracion">
    <div class="container-fluid">
        <div class="row colaboracion-row-main">
            <div class="col-12 col-md-6" *ngFor="let colaboracion of colaboraciones"
                [id]="colaboracion.idColaboraciones">
                <div class="row card-container">
                    <div class="col-6">
                        <div class="seccion-imagen">
                            <img class="imagen-publicacion" [src]="colaboracion.fotoLibro" alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-6 d-f">
                        <div class="seccion-cuerpo">
                            <p class="titulo-libro">{{colaboracion.titulo}}</p>
                            <p class="autor-libro">{{colaboracion.autor}}</p>
                            <p class="card-descrip">{{colaboracion.sinopsis}}</p>
                        </div>
                    </div>
                    <button class="btn-ir" routerLink="/colaboracion/{{colaboracion.idColaboraciones}}">
                        Seguir leyendo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>